@page "/Cities"
@using BlazorCities.Data
@inject BlazorCities.Services.CitiesService citiesService

<NavLink class="nav-link" href="AddCity">
    <span class="oi oi-plus" aria-hidden="true">Add new</span>

</NavLink>

<h3>Cities</h3>

@if (CitiesObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Foundation date</th>
                <th>Population</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (City city in CitiesObj)
            {
                <tr>
                    <td>@city.ID</td>
                    <td>@city.Name</td>
                    <td>@city.FoundationDate</td>
                    <td>@city.Population</td>
                    <td>
                        <a class="nav-link" href="EditCity/@city.ID">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="Cities/Delete/@city.ID">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    IEnumerable<City> CitiesObj;
    protected override async Task OnInitializedAsync()
    {
        CitiesObj = await Task.Run(() => citiesService.GetCitiesAsync());
    }
}
